.header {
  width: 100vw;
  height: 70px;
  background-color: #242424;
  .wrapper {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    .logo {
      width: 167px;
      height: 67px;
      background-position: 0 -5px;
      background-image: url("../../assets/images/topbar.png");
    }
    .search{
      display: flex;
      align-items: center;
      height: 70px;
      margin-left: 20px;
      :global(.ant-input-affix-wrapper){
        border-radius: 20px;
      }
    }
    .createCenter{
      button{
        cursor: pointer;
        width: 89px;
        height: 32px;
        text-align: center;
        border-radius: 18px;
        border: 1px solid #969696;
        background-color: #242424;
        color: #FFFFFF;
        font-size: 14px;
        margin-left: 40px;
      }
    }
    .login{
      margin-left: 30px;
      h4{
        color: #FFFFFF;
        text-decoration: #242424;
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 508px;
      height: 70px;
      margin-left: 10px;
      .navbar-item {
        flex: 93;
        height: 70px;
        color: #FFFFFF;
        text-align: center;
        line-height: 70px;
        a{
          display: block;
          color: #FFFFFF;
        }
        &:hover{
          background-color: #000000;
        }
      }
    }
  }
  .active{
    background-color: #000000;
  }
}
